.add_item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85vw;
    height: 10vh;
}

.buttons {
    width: 25%;
    display: flex;
    justify-content: space-between;
}


.add_fund {
    display: flex;
    align-items: center;
    height: 10vh;
}

.plus {
    background-color: #7984EE;
    text-align: center;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 2rem;
    border-radius: 50%;
}
